 * {
           font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;

}
.scheduleSetter{
    align-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    border-bottom: solid;
    height: 30%;
    
}

.disabled
{
  pointer-events: none;
  opacity: 0.5;
  background: #CCC;
}
.pCard{
    padding-bottom: 10;
    padding-top: 10;
    align-content: center;
    align-items: center;
    text-align: center;
    
}
#reqMeetTimeContainer{
    padding: 10;
}
#reqMeetTime{
    width: 50px;
}
.btn{
  background-color: #555555;;
  border: none;
  color: white;
  padding: 10px 20px;
  font-size: 10px;
}